{% extends "main.html" %}
{% load staticfiles %}

{% block sitename %}
    {{ type }} Users
{% endblock %}

{% block content %}
{% if user.is_active and user.is_staff %}
    <div class="panel panel-default">
        <div class="panel-heading">Add {{ type }} user</div>
        <div class="panel-body">
            <form action="{% url 'twitfollowing:followed' %}" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-info" type="submit" value="Add!"/>
            </form>
        </div>
    </div>
{% endif %}
{% if followed_users_list %}
    <ul class="list-group">
    <a class="list-group-item active">
        All  {{ type }} users:
    </a>
    {% for user in followed_users_list %}
        <a class="list-group-item" href="{% url 'twitfollowing:twits' user.twitter_screen_name %}">{{ user.twitter_screen_name }}</a>
    {% endfor %}
    </ul>
{% else %}
    <p>No  {{ type }} users are available.</p>
{% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "myJsTemplateEngine.js" %}"></script>
    <script type="text/javascript">
        $('#{{ form.twitter_screen_name.auto_id }}').typeahead({
            name: 'twitter_screen_name',
            valueKey: 'screen_name',
            remote: {url: '{% url 'twitfollowing:search' 'QUERY' %}',
                wildcard: 'QUERY'},
            limit: 10,
            template: [
                    '<p class="twit-screen-name">##screen_name</p>',
                    '<p class="twit-name">##name</p>',
                    '<p class="twit-description">##description</p>'
                ].join(''),
            engine: MyEngine
        });
    </script>
{% endblock %}