<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Twitter App{% endblock %}</title>
</head>
<body>

    <p>Welcome, {{ user.username|default:"New User" }} !</p>
    <div id="navbar">
        {% block navbar %}
         {% include 'navbar.html' %}
        {%  endblock %}
    </div>


    <h1>{% block sitename %}Twitter App{% endblock %}</h1>



    <div id="content">
        {% block content %}
            <h3>This is page for all authenticated users</h3>
        {% endblock %}
    </div>

</body>
</html>