body {
    background-color: #b9def0;
}

div.tai-main {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin: 30px 100px;
    padding: 30px;
}

div.tai-inner {
    margin: 20px 100px;
}

input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    outline: medium none;
    border-radius: 3px;
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
    width: 300px;
}

label {
    display: block;
}

p.twit-name {
    text-align: left;
    font-style: italic;
}

p.twit-screen-name {
    float: right;
    font-weight: bold;
}

p.twit-description {
    font-size: 10px;
}